<button class="button-outlined mt-3 w-full" onclick="window.Brauz_open_reserve_in_store_dialog()">Find in Store</button>
<div
  id="brauz-find-in-store-config-product-page"
  data-sd="{{ shop.permanent_domain }}"
  data-cvi="{{ product.first_available_variant.id }}"
  data-hodv="{{ product.has_only_default_variant }}"
  style="display: none; width: 0"
></div>
<script src="https://d3aq2u4yw77ivo.cloudfront.net/reserve-in-store/lucyfolk/reserve-in-store.shopify.lucyfolk.prod.js" async></script>